{
    "organizations": [
        {
            "name": "EOH",
            "Description": "Holding company for a number of IT companies"
        },
        {
            "name": "IOCO",
            "Description": "Custom development IT company"
        }
    ]
}