{
    "users": [
        {
            "username": "Sakkie",
            "surname": "van Zyl"
        },
        {
            "username": "Jan Jurgens",
            "surname": "van der Walt"
        }
    ]
}