export class NavigationRoutes {

    static readonly userList = {
        path: 'users',
        title: 'User List',
        navigationPath: 'users'
    }
    static readonly userDetails = {
        path: 'users/:id',
        title: 'User details',
        navigationPath: 'users'
    }
    static readonly pageNotFound = {
        path: '**',
        title: 'Not Found',
        navigationPath: 'not-found'
    }
}