import { Observable } from 'rxjs';
import { ModelUser } from '../../models/user/user.model';

export abstract class AbstractServiceUser {

    abstract getUserDetails(userId: number): Observable<ModelUser>;

}
