import { TestBed } from '@angular/core/testing';

import { Service<%= classify(name) %> } from './<%= dasherize(name) %>.service';

describe('Service<%= classify(name) %>', () => {
  let service: Service<%= classify(name) %>;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    service = TestBed.inject(Service<%= classify(name) %>);
  });

  it('should be created', () => {
    expect(service).toBeTruthy();
  });
});
