import { TestBed } from '@angular/core/testing';

import { SnackbarAppService } from './snackbar.app.service';

describe('SnackbarAppService', () => {
  let service: SnackbarAppService;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    service = TestBed.inject(SnackbarAppService);
  });

  it('should be created', () => {
    expect(service).toBeTruthy();
  });
});
