import { TestBed } from '@angular/core/testing';
import { AppSnackBar } from './snackbar.app';


describe('AppSnackBar', () => {
  let service: AppSnackBar;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    service = TestBed.inject(AppSnackBar);
  });

  it('should be created', () => {
    expect(service).toBeTruthy();
  });
});
