import { ModelDialogConfirmationData } from "./dialog-boxes/confirmation-dialog-data.model";
import { ModelInitializer } from "./model-initializer.helper";
import { ModelSnackBarDetails } from "./snackbar/snackbar-details.model";
import { ModelUser } from "./user/user.model";


export type DialogDataConfirmation = ModelDialogConfirmationData;
export const Initialize = ModelInitializer;
export type SnackbarDetails = ModelSnackBarDetails;
export type User = ModelUser;